body {
  background-color: green;
  font-family: sans-serif;
}
#M0, #M1, #M2, #M3, #M4, #M5, #M6, #M7, #M8, #M9{
	width: 10%;
	float: left
}
img{
	width: 50%;
}

.leer {
	width: 9%;
	float: center;
}