body {
  background-image: url("fondo1.jpg");
  font-family: sans-serif
}
#g1{
	float: right;
	background-color: rgba(0, 0, 0, 0.7);
	width: 50%;
}
#tarea{
	float: left;
	background-color: rgba(0, 0, 0, 0.7);
}
#labs{
	float: left;
	background-color: gray;
}
#practicas{
	float: left;
	background-color: gray;
}
#foto{
	float: right;
}
#Información{
	float: left;
	background-color: rgba(0, 0, 0, 0.7);
	width: 50%;
}
h1 {
	background-color: rgba(0, 0, 0, 0.7);
	color: red;
}
h2 {
	color: red;
}
h4, h6 {
 	color: green;
}
   
#header {
	float: center;
}

ul, ol {
	list-style:none;
}

.nav > li {
	width: 50%;
}

.nav li a {
	background-color:rgba(0, 0, 0, 0.7);
	color:green;
	text-decoration:none;
	padding:12px 12px;
	display:block;
	float: center;
}

.nav li a:hover {
	background-color:#434343;
	float: center;
}

.nav li ul {
	display:none;
}

.nav li:hover > ul {
	display:block;
}

.nav li ul li {
	position:relative;
}

.nav li ul li ul {
	top:0px;
}
#html{
	background-color: rgba(0, 0, 0, 0.7);
	width: 33%;
	float: left;
}
#html5{
	background-color: rgba(0, 0, 0, 0.7);
	width: 33%;
	float: left;
}
#css{
	background-color: rgba(0, 0, 0, 0.7);
	width: 33%;
	float: left;
}
#fuentes{
	background-color: rgba(0, 0, 0, 0.7);
}
#botoncito{
	position:sticky;
}
p{
	color: white;
}